{% load static %}

<!DOCTYPE html>
<html class="no-js" lang="en">
{% block page_content %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>My Portfolio</title>
        <link rel="shortcut icon" href="/static/favicon.ico" type="image/x-icon">
        <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900" rel="stylesheet">
        <link rel="stylesheet" href="{% static '/libs/font-awesome/css/font-awesome.min.css' %}">
        <link href="{% static '/css/bootstrap.min.css' %}" rel="stylesheet">
        <link href="{% static 'css/styles.css' %}" rel="stylesheet">
    </head>

    <body>
    <div id="mobile-menu-open" class="shadow-large">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
    <!-- End #mobile-menu-toggle -->
    <header>
        <div id="mobile-menu-close">
            <span>Close</span> <i class="fa fa-times" aria-hidden="true"></i>
        </div>
        <ul id="menu" class="shadow">
            <li>
                <a href="#about">About</a>
            </li>
            <li>
                <a href="#experience">Experience</a>
            </li>
            <li>
                <a href="#education">Education</a>
            </li>
            <li>
                <a href="#projects">Projects</a>
            </li>
            <li>
                <a href="#skills">Skills</a>
            </li>
            <li>
                <a href="#contact">Contact</a>
            </li>

        </ul>
    </header>
    <!-- End header -->

    <div id="lead">
        <div id="lead-content">
            <h1>{{fullname}}</h1>
            <h2>Software Engineer</h2>
            <a href="{{ resume  }}" class="btn-rounded-white">Download Resume</a>
        </div>
        <!-- End #lead-content -->

        <div id="lead-overlay"></div>

        <div id="lead-down">
            <span>
                <i class="fa fa-chevron-down" aria-hidden="true"></i>
            </span>
        </div>
        <!-- End #lead-down -->
    </div>
    <!-- End #lead -->

    <div id="about">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h2 class="heading">About Me</h2>
                </div>
                <div class="col-md-8">
                    <p>
                        {{ about }}
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- End #about -->

    <div id="experience" class="background-alt">

        <h2 class="heading">Experience</h2>
        <div id="experience-timeline">
        {% for index in workexp %}

            <div data-date="{{ index.date_start }} – {% if index.date_end %}{{ index.date_end }} {% else %}{{ "Present" }}{% endif %}">
                <h3>{{ index.companyname }}</h3>
                <h4>{{ index.title }}</h4>
                <p>
                    {{ index.explanation}}
                </p>
            </div>

        {% endfor %}
{#            <div data-date="June 2018 – August 2018">#}
{#                <h3>DonanımHaber</h3>#}
{#                <h4>Intern</h4>#}
{#                <p>#}
{#                    Analyze data for website machine learning algorithm#}
{#                </p>#}
{#            </div>#}

            <!--            <div data-date="September 2015 – September 2016">-->
            <!--                <h3>Employer Name</h3>-->
            <!--                <h4>Job Title</h4>-->
            <!--                <p>-->
            <!--                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur in iaculis ex. Etiam volutpat laoreet urna. Morbi ut tortor nec nulla commodo malesuada sit amet vel lacus. Fusce eget efficitur libero. Morbi dapibus porta quam laoreet placerat.-->
            <!--                </p>-->
            <!--            </div>-->
        </div>

    </div>
    <!-- End #experience -->

    <div id="education">
        <h2 class="heading">Education</h2>
        {% for index in education %}
        <div class="education-block">
            <h3>{{ index.nameofschool }}</h3>
            <span class="education-date">Graduated - {{ index.date }}</span>
            <h4>{{ index.title }}</h4>

            <p>
                Courses
            </p>
            <ul>
             {% for course in index.courses_as_list %}
                <li>
                    {{course}}
                </li>
             {% endfor %}
            </ul>
        {% endfor %}
        </div>
        <!-- End .education-block -->

        <!--        <div class="education-block">-->
        <!--            <h3>University of Ottawa</h3>-->
        <!--            <span class="education-date">Sept 2016 - Sept 2017</span>-->
        <!--            <h4>Bachelor of Science in Computer Science</h4>-->
        <!--            <ul>-->
        <!--                <li>-->
        <!--                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
        <!--                </li>-->
        <!--                <li>-->
        <!--                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
        <!--                </li>-->
        <!--                <li>-->
        <!--                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.-->
        <!--                </li>-->
        <!--            </ul>-->
        <!--        </div>-->
        <!-- End .education-block -->
    </div>
    <!-- End #education -->

    <div id="projects" class="background-alt">
        <h2 class="heading">Projects</h2>
        {% for index in project %}
        <div class="container">
            <div class="row">
                <div class="project shadow-large">
                    <div class="project-image">
                        <img src="{{ index.image }}" />
                    </div>
                    <!-- End .project-image -->
                    <div class="project-info">
                        <h3>{{ index.title }}</h3>
                        <p>
                            {{ index.explanation }}
                        </p>
                        <a href="{{ index.link }}">View Project</a>
                    </div>
                    <!-- End .project-info -->
                </div>
                <!-- End .project {% static 'images/project.jpg' %}-->
        {% endfor %}
{#                <div class="project shadow-large">#}
{#                    <div class="project-image">#}
{#                        <img src="{% static '/images/project.jpg' %}" />#}
{#                    </div>#}
{#                    <!-- End .project-image -->#}
{#                    <div class="project-info">#}
{#                        <h3>RealEstate(Thesis) (01/2018 – 06/2018)</h3>#}
{#                        <p>#}
{#                            Develop the web site based on like and dislike according to user#}
{#                            preferences with collaborative filtering algorithm.#}
{#                            Django web framework#}
{#                        </p>#}
{#                        <a href="https://github.com/alimertcan/realestate">View Project</a>#}
{#                    </div>#}
{#                    <!-- End .project-info -->#}
{#                </div>#}
                <!-- End .project -->
            </div>
        </div>
    </div>
    <!-- End #projects -->

    <div id="skills">
        <h2 class="heading">Skills</h2>
        <ul>
            {% for index in skills %}
            <li>{{ index }}</li>
{#            <li>Python</li>#}
{#            <li>Flask</li>#}
{#            <li>Django</li>#}
{#            <li>Mongodb</li>#}
{#            <li>Hazelcast</li>#}
{#            <li>Java</li>#}
{#            <li>Elastic Search</li>#}
{#            <li>API Development</li>#}
            {% endfor %}
        </ul>
    </div>
    <!-- End #skills -->

    <div id="contact">
        <h2>Get in Touch</h2>
        <div id="contact-form">
            <form method="POST" action="">{% csrf_token %}
                <input type="email" name="email_address" placeholder="Your email" required>
                <textarea name="message" placeholder="Your message" required></textarea>
                <button type="submit">Send</button>
            </form>

        </div>
        <!-- End #contact-form -->
    </div>
    <!-- End #contact -->

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-5 copyright">
                    <p>
                        Copyright &copy; 2021 {{fullname}} <p>Phone Number: {{phonenumber}}</p>
                    </p>
                </div>
                <div class="col-sm-2 top">
                    <span id="to-top">
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                    </span>
                </div>
                <div class="col-sm-5 social">
                    <ul>
                        <li>
                            <a href="https://github.com/alimertcan/" target="_blank"><i class="fa fa-github" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://stackoverflow.com/users/14860410/ali-mertcan-tekin" target="_blank"><i class="fa fa-stack-overflow" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/ali-mertcan-tekin-8b01136b/" target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End footer -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/scripts.min.js' %}"></script>
    </body>
{% endblock %}
</html>
